---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image=""/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> shitposting mental </h1>
			<img src="https://i.etsystatic.com/8412806/r/il/5aad27/2074906857/il_fullxfull.2074906857_qdso.jpg"/>
		</main>
		<Footer />
	</body>
</html>
