---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const MUSIC_REVIEWS_IMAGE = 'https://concepto.de/wp-content/uploads/2020/03/musica-e1584123209397.jpg'
const MUSIC_ARTICLES_IMAGE = 'https://www.marthadebayle.com/wp-content/uploads/2022/07/tiposdemusica.jpg'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image="" />
		<style>
			main {
				width: 1000px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.1s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				height:50%;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1> Artistas y álbumes </h1>
			<section>
				<ul>
					{
							<li>
								<a href='/music/reviews'>
									<img width={720} height={360} src={MUSIC_REVIEWS_IMAGE} alt="Music reviews image" />
									<h4 class="title">Artistas y álbumes</h4>
								</a>
							</li>
							<li>
								<a href='/about'>
									<img width={720} height={360} src={MUSIC_ARTICLES_IMAGE} alt="Music reviews image" />
									<h4 class="title">Artículos y opiniones</h4>
								</a>
							</li>
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
