---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import artistas from '../../images/artistas-y-albumes.png'
import opiniones from '../../images/articulos-y-opiniones.png'
import BasePageLayout from '../layouts/BasePageLayout.astro';

const MUSIC_REVIEWS_IMAGE = artistas
const MUSIC_ARTICLES_IMAGE = opiniones
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image="" />
		<style>
			h1 {
				text-align: center;
			}
				.home-container {
				align-items: center;
				display: flex;
				flex: 1;
				justify-content: center;
				margin: 2em;
				min-height: 400px;
				max-width: 100%;
			}
			ul {
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.1s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				height:50%;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 90%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Música</h1>
			<div class="home-container">
				<ul>
					{
							<li>
								<a href='/written/reviews'>
									<img width={600} src={MUSIC_REVIEWS_IMAGE} alt="Music reviews image" />
								</a>
							</li>
							<li>
								<a href='/written/articles'>
									<img width={600} src={MUSIC_ARTICLES_IMAGE} alt="Music reviews image" />
								</a>
							</li>
					}
				</ul>
			</d>
		</main>
		<Footer />
	</body>
</html>

<BasePageLayout/>
